body {
  background-image: url("../img/patron-fisuras-tema-deporte_103032-15.png");
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.hover:hover {
  filter: brightness(130%);
}